/*general*/
body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
h1 {
    color: black;
}


/*Header*/
header {
    background-color: lightgrey;
}
/*Main*/
main {
    color: red;
}
/*Footer*/
footer {

    background-color: grey;
}